<!DOCTYPE html>
<html>
<head>
    <title>관리자 목록</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/A-CMN/jquery.xml2json.js"></script>
    <script src="/A-CMN/Common.js"></script>

</head>
<body>

<div class="container">
  <!-- $$ pages.설정값.설명  -->
  <h2>공지사항</h2>
  <p>"화이트연구소.Net,  화이트연구소.kr   화이트연구소.com"</p>

    <form id="frm_default" class="form-horizontal" role="form">
	
	<input type=hidden id="ntc_idx" name="ntc_idx" value="" />
    <input type=hidden id="sto_id" name="sto_id" value="" />
    <input type=hidden id="state_cd" name="state_cd" value="" />

    <div class="form-group">
      <label class="col-sm-2 control-label"><span class="glyphicon glyphicon-paperclip"></span> 제목</label>
      <div class="col-sm-8">
        <input class="form-control" name="title" id="title" type="text" value="" placeholder="제목을 입력해 주세요." maxlength="50" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><span class="glyphicon glyphicon-paperclip"></span> 작성자</label>
      <div class="col-sm-4">
        <input class="form-control" name="writer" id="writer" type="text" value=""  maxlength="10"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">내용</label>
      <div class="col-sm-8">
         <textarea class="form-control" rows="10" name="content" id="content"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><span class="glyphicon glyphicon-paperclip"></span> 공지타입</label>
      <div class="col-sm-8">
        <label class="radio-inline"><input type="radio" name="noticeType_cd" id="noticeType_B" value="B">기본</label>
        <label class="radio-inline"><input type="radio" name="noticeType_cd" id="noticeType_T" value="T">상위</label>
      </div>
    </div>
		<div class="form-group">
	    <div id="create_dt_area"  class="form-group">
	      <label class="col-sm-2 control-label">등록일자</label>
	      <div class="col-sm-4">
	        <input class="form-control" name="create_dt" id="create_dt" type="text" value="" />
	      </div>
	    </div>
  	</div>
    <br />
	<div class="form-group">
		<div class="control-label col-sm-10">
	    
	    <!-- $$ pages.설정값.플래그=기능설정  -->
	    <button type="button" id="btn_List" class="btn btn-default">목록</button>
	    <button type="button" id="btn_Insert" class="btn btn-info">등록</button>
	    <button type="button" id="btn_Update" class="btn btn-info">수정</button>
	    <button type="button" id="btn_Delete" class="btn btn-danger">삭제</button>
		</div>
	</div>

    </form>
</div>

<div class="container">
  <h4><span class="glyphicon glyphicon-volume-up"></span> 도움말</h4>
  <!-- $$ pages.설정값.설명  -->
  <div class="well col-sm-10">- <span class="glyphicon glyphicon-paperclip"></span> 은 필수 입력 사항입니다.</div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="auto-meta-1.3.0.js?"></script>
<script>

  var Selector = {
    sto_id = "#sto_id",
    ntx_idx = "#ntx_idx",
  };
  // REVIEW:: 꼭 객체형태로 노출할 필요성이 있는가?

  function Selector() {
    this.sto_id = "#sto_id";

  };

</script>
<script>
  var IBindModelReadAjax      = _W.Interface.IBindModelReadAjax;
  var util                    = _W.Common.Util;

  // 페이지 DI
  function FormDI() {
    IBindModelRead.call(this);
    
    __this = this;  // 내부 this
    
    this.attr = getURLToJSON(location.href);
    
    this.attr = {   // attr 에는 문자값과 객체값 두가지를 형식을 가진다.
        cmd: null,
        listURL: "Notice_Lst.asp",
        sto_id: {
          getter: function() { return $("#sto_id").val();},
          setter: function(newValue) { $("#sto_id").val(newValue)}
        }, 
        ntc_idx: {
          caption: "일련번호",
          getter: function() { return $("#ntc_idx").val();},
          setter: function(newValue) { $("#ntc_idx").val(newValue)}
        },
        title: {
          caption: "제목",
          getter: function() { return $("#title").val();},
          setter: function(newValue) { $("#title").val(newValue)}
        },
        writer: {
          caption: "작성자",
          getter: function() { return $("#writer").val();},
          setter: function(newValue) { $("#writer").val(newValue)}
        },
        noticeType: {
          caption: "공지타입", 
          getter: function() { return $("#noticeType").val();},
          setter: function(newValue) { $("#noticeType").val(newValue)}
      }
    };

    this.mode = {
        create: function() {
            this.attr.cmd = "CREATE";
            $("#sto_id").val(this.cmd.sto_id);
            $("#create_dt_area").hide();
        },
        update: function() {
            $("#create_dt").attr("readonly", "")
            this.attr.cmd = "UPDATE";
            this.read.execute();      // 데이터 가져옴
        }
    };
    
    this.cbRegister = function() {    // 1.등록
      // 이벤트 등록
      $("#btn_List").click(function () {
          location.href = __this.attr.listURL;
      });
      $("#btn_Insert").click(function () {
          this.create.execute();
      });
      $("#btn_Update").click(function () {
          this.delete.execute();
      });
      $("#btn_Delete").click(function () {
          this.delete.execute();
      });
      
      // 뷰콜백 연결
      this.read.cbOutput = this.readView;   
    };
    
    this.cbValid = function() {   // 2.검사
        if (__this.attr.cmd.value === "") Msg("에러! 잘못된 접근경로입니다.");

    };
    
    this.cbReady = function() {   // 3.준비
        if (__this.cmd.value === "CREATE") {
            this.mode['create']();
        } else if (__this.cmd.value === "UPDATE") {
            this.mode['update']();
        }
    };
  }
  util.inherits(FormDI, IBindModelRead);

  FormDI.prototype.readView = function(entity) {
      var row;

      if (entity.rows.count <= 0) Msg("자료가 없습니다.");
      
      // 2안> 자동 등록 방식
      entity.setValue(entity.rows[0]);
  };

  //-------------------------------------------------------
  var BindModelReadAjax       = _W.Meta.Bind.BindModelReadAjax;
  
  // 메타 객체 생성
  var e = new BindModelReadAjax(new FromDI());
  e.baseUrl = "http://rtwgs4.cafe24.com/sample_row_single.asp";

  e.loadAttr();   // 전체속성 가져옴

  e.onFail = function(p_msg, p_code) {
      Msg(p_msg);
  };

  e.delete.onValid = function() {     // REVIEW 추가 검토 필요!!
      return confirm('삭제하시겠습니까?');
  };

  // 아이템 설정(연결)
  e.read.setItem(["cmd", "ntc_idx", "sto_id"], ["valid", "bind"]);
  e.read.setItem(["sto_id"], "bind");
  e.read.setItem(["title", "writer", "noticeType_cd"], "view");
  
  e.create.setItem(["sto_id", "title", "writer", "noticeType_cd"], ["valid", "bind"]);
  e.create.setItem(["cmd", "sto_id", "content"], "bind");

  e.update.setItem(["sto_id", "ntc_idx", "title", "writer", "noticeType_cd"], ["valid", "bind"]);
  e.update.setItem(["cmd", "sto_id", "content"], "bind");

  e.delete.setItem(["ntc_idx"], ["valid", "bind"]);

  // 로딩 이벤트 연결
  $(document).ready(function () {
      e.init();
  });

</script>

<script>
  // END END END END END END END END END END END END END END END END END END END END END
  // 목록의 경우 컨테이너 어뎁터로 교체시 샘플 소스
  // var CD4 = new ContainerAdapter("div", "#temp_1");
  // CD4.setTableSlot("Table1", "tbody");
  // CD4.table["Table1"].column.setBaseSlot("td", "td");                         // 기본 슬롯 설정
  // CD4.table["Table1"].column.setSlot("td", {name: "p1_name", selector: "p"}); // 사용자 슬롯 설정
  // // 속성값 연결 : 인덱스키 설정은 this 에서 받을수 있게..
  // CD4.table["Table1"].column.setAttribute("ntc_idx");
  // // 컨테이너 갱신 ( 데이터셋, 테이블명 [,매핑테이블명] )
  // CD4.update(ds["Entity1"], "Table1");
</script>

</body>
</html>