USE [jns9778]
GO
/****** Object:  StoredProcedure [dbo].[BOD_Event_SP_U]    Script Date: 2021-11-25 오후 3:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- ============================================================== 
-- Author		: 김영호
-- Create date	: 2019-12-20
-- Update date	: 
-- Description	: 
/*

*/
-- ==============================================================
CREATE PROC [dbo].[BOD_Event_SP_U]

	@evt_idx					int,						-- PK
	
	@title						nvarchar(20)	= NULL,
	@writer						nvarchar(10)	= NULL,
	@begin_dt					datetime		= NULL,
	@close_dt					datetime		= NULL,
	@contents					nvarchar(2000)	= NULL,
	@active_yn					char(1)			= NULL,
	
	@msgSave_yn					char(1)			= 'Y',		-- 에러저장
	@msgPrint_yn				char(1)			= 'Y'		-- 에러출력
	
AS

BEGIN
	SET NOCOUNT ON
	/* ----- DECLARE GLOBAL --- */
	DECLARE @RESULT				int				= 0;
		

	/* ----- DECLARE LOCAL ---- */


	/* ----- TRANSACTION ------ */
	DECLARE @tranCounter		int				= @@TRANCOUNT
    IF @tranCounter > 0  
        SAVE TRANSACTION ProcedureSave
    ELSE  
        BEGIN TRANSACTION
	
		
	BEGIN TRY
		/*******************************************************/
		-- 검사 (필수값)
		IF @evt_idx <= 0 OR @evt_idx IS NULL
		BEGIN
			SET @RESULT = 101
			RAISERROR ('[오류] 필수값 없음 : @evt_idx ', 16, @RESULT);
		END


		-- 검사 (데이터)
		IF NOT EXISTS(SELECT * FROM BOD_Event WHERE evt_idx = @evt_idx)
		BEGIN
			SET @RESULT = 201
			RAISERROR ('[오류] 데이터 없음 : BOD_Event ', 16, @RESULT);
		END

		

		/*******************************************************/
		-- 처리 (수정)
		UPDATE BOD_Event 
		SET
			title = CASE WHEN @title IS NULL THEN title ELSE @title END,
			writer = CASE WHEN @writer IS NULL THEN writer ELSE @writer END,
			begin_dt = CASE WHEN @begin_dt IS NULL THEN begin_dt ELSE @begin_dt END,
			close_dt = CASE WHEN @close_dt IS NULL THEN close_dt ELSE @close_dt END,
			contents = CASE WHEN @contents IS NULL THEN contents ELSE @contents END,
			active_yn = CASE WHEN @active_yn IS NULL THEN active_yn ELSE @active_yn END
		WHERE
			 evt_idx = @evt_idx
		
		
		/*******************************************************/
		-- 결과 (커밋)
		/* ----- TRANSACTION ------ */
		IF @tranCounter = 0
			COMMIT TRANSACTION
		
		RETURN @RESULT
		
	END TRY
	BEGIN CATCH /***********************************************/
		/* ----- DECLARE CATCH ---- */
		DECLARE @errorMessage	nvarchar(1000)	= ERROR_MESSAGE();
		DECLARE @errorSeverity	int				= ERROR_SEVERITY();
		DECLARE @errorState		int				= ERROR_STATE();
		DECLARE @procName		nvarchar(128)	= OBJECT_NAME(@@PROCID);
        
        /* ----- TRANSACTION ------ */
        IF @tranCounter = 0  
		BEGIN
			ROLLBACK TRANSACTION;
			EXEC [SYS_ErrorLog_SP_C] @procName, @msgPrint_yn, @msgSave_yn;
			RETURN -@errorState;
		END
        ELSE
        BEGIN
            IF XACT_STATE() <> -1  
                ROLLBACK TRANSACTION  ProcedureSave;
			SET @errorMessage = @procName +' >> '+ @errorMessage;
			RAISERROR(@errorMessage, @errorSeverity, @errorState);
		END
	END CATCH
	SET NOCOUNT OFF	
END

-- ##############################################################
-- #### TEST AREA
/*
	exec [BOD_Event_SP_U] @evt_idx=2, @title='수정', @active_yn ='N', @contents='수정2'

	select * from BOD_Event
	
*/



GO
