USE [jns9778]
GO
/****** Object:  StoredProcedure [dbo].[ORD_SP_Order_Cancel_U]    Script Date: 2021-11-25 오후 3:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- ============================================================== 
-- Author		: 김영호
-- Create date	: 2019-01-16
-- Update date	: 
-- Description	: 
/*

*/
-- ==============================================================
CREATE PROC [dbo].[ORD_SP_Order_Cancel_U]

	@ord_id						varchar(14),				-- PK
	@msgSave_yn					char(1)			= 'Y',		-- 에러저장
	@msgPrint_yn				char(1)			= 'Y'		-- 에러출력

AS

BEGIN
	SET NOCOUNT ON
	/* ----- DECLARE GLOBAL --- */
	DECLARE @RESULT				int				= 0;
		

	/* ----- DECLARE LOCAL ---- */
	DECLARE @state_cd			char(2)			= 'OC'
	DECLARE @O_state_cd			char(2)
	DECLARE @D_state_cd			char(2)
	DECLARE @P_state_cd			char(2)
	
	
	/* ----- TRANSACTION ------ */
	DECLARE @tranCounter		int				= @@TRANCOUNT
    IF @tranCounter > 0  
        SAVE TRANSACTION ProcedureSave
    ELSE  
        BEGIN TRANSACTION


	BEGIN TRY
		/*******************************************************/
		-- 검사
		IF LEN(@ord_id) <= 0 or @ord_id IS NULL
		BEGIN
			SET @RESULT = 11
			RAISERROR ('[오류] 필수값 없음 : @ord_id ', 16, @RESULT);
		END

		
		-- 검사 (데이터)
		IF NOT EXISTS(SELECT * FROM ORD_Master WHERE ord_id = @ord_id)
		BEGIN
			SET @RESULT = 21
			RAISERROR ('[오류] 데이터 없음 : ORD_Master ', 16, @RESULT);
		END
		
		
		-- 검사 (유효성)
		IF NOT EXISTS(SELECT * FROM ORD_TF_Next_State_Check(@ord_id, @state_cd))
		BEGIN
			SET @RESULT = 22
			RAISERROR ('[오류] 유효성 검사 : ORD_TF_Next_State_Check ', 16, @RESULT);
		END
		

		/*******************************************************/
		-- 처리 (수정) : SP호출
		EXEC [ORD_Master_SP_Status_U] 
				@ord_id = @ord_id, 
				@state_cd = @state_cd

		
		/*******************************************************/
		-- 커밋

		/* ----- TRANSACTION ------ */
		IF @tranCounter = 0
			COMMIT TRANSACTION

	END TRY
	BEGIN CATCH /***********************************************/
		/* ----- DECLARE CATCH ---- */
		DECLARE @errorMessage	nvarchar(1000)	= ERROR_MESSAGE();
		DECLARE @errorSeverity	int				= ERROR_SEVERITY();
		DECLARE @errorState		int				= ERROR_STATE();
		DECLARE @procName		nvarchar(128)	= OBJECT_NAME(@@PROCID);
        
        /* ----- TRANSACTION ------ */
        IF @tranCounter = 0  
		BEGIN
			ROLLBACK TRANSACTION;
			EXEC [SYS_ErrorLog_SP_C] @procName, @msgPrint_yn, @msgSave_yn;
			RETURN -@errorState;
		END
        ELSE
        BEGIN
            IF XACT_STATE() <> -1  
                ROLLBACK TRANSACTION  ProcedureSave;
			SET @errorMessage = @procName +' >> '+ @errorMessage;
			RAISERROR(@errorMessage, @errorSeverity, @errorState);
		END
	END CATCH	
	SET NOCOUNT OFF
END

-- ##############################################################
-- #### TEST AREA
/*
	
	exec [ORD_SP_Order_Cancel_U] @ord_id='20200108165246'
	
	exec [ORD_SP_Order_Cancel_U] @ord_id='20200108165204'
	
	-- 오류
	exec [ORD_SP_Order_Cancel_U] @ord_id='20200108165429'
	
	select * from ord_master
	select * from ord_pay
	select * from ord_delivery
	
	select * from ORD_state_vw
	
	select * from ORD_state_vw where ord_id ='20200108165204'
	
	select * from SYS_errorlog
	
	
	select @@trancount
	commit
*/



GO
