USE [jns9778]
GO
/****** Object:  StoredProcedure [dbo].[PRT_Info_SP_C]    Script Date: 2021-11-25 오후 3:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- ============================================================== 
-- Author		: 김영호
-- Create date	: 2019-12-20
-- Update date	: 
-- Description	: 
/*

*/
-- ==============================================================
CREATE PROC [dbo].[PRT_Info_SP_C]

	@prt_id						int,
	@state_cd					char(2)			= 'SS',		-- SaleShow (기본값)
	@stock_it					smallint		= 0,
	@brd_idx					smallint		= NULL,
	@recommRange				smallint		= 0,
	@keyword					nvarchar(100)	= '',
	@kind_cd					char(3)			= '',
	@begin_dt					smalldatetime	= NULL,
	@close_dt					smalldatetime	= NULL,
	@contents					nvarchar(2000)	= '',
	@msgSave_yn					char(1)			= 'Y',		-- 에러저장
	@msgPrint_yn				char(1)			= 'Y'		-- 에러출력

AS

BEGIN
	SET NOCOUNT ON
	
	/* ----- DECLARE GLOBAL --- */
	DECLARE @RESULT				int				= 0;
		

	/* ----- TRANSACTION ------ */
	DECLARE @tranCounter		int				= @@TRANCOUNT
    IF @tranCounter > 0  
        SAVE TRANSACTION ProcedureSave
    ELSE  
        BEGIN TRANSACTION


	BEGIN TRY
		/*******************************************************/
		-- 검사 (필수값)
		IF @prt_id <= 0 OR @prt_id IS NULL
		BEGIN
			SET @RESULT = 101
			RAISERROR ('[오류] 필수값 없음 : @prt_id ', 16, @RESULT);
		END
		IF LEN(@state_cd) <= 0 OR @state_cd IS NULL
		BEGIN
			SET @RESULT = 102
			RAISERROR ('[오류] 필수값 없음 : @state_cd ', 16, @RESULT);
		END

		
		/*******************************************************/
		-- 처리 (등록)
		INSERT INTO PRT_Info
		(
			prt_id, 
			state_cd, 
			stock_it, 
			brd_idx, 
			recommRange, 
			keyword, 
			kind_cd, 
			begin_dt, 
			close_dt, 
			contents
		)
		VALUES
		(
			@prt_id, 
			@state_cd, 
			@stock_it, 
			@brd_idx, 
			@recommRange, 
			@keyword, 
			@kind_cd, 
			@begin_dt, 
			@close_dt, 
			@contents
		)

		
		/*******************************************************/
		-- 결과 (커밋)
		/* ----- TRANSACTION ------ */
		IF @tranCounter = 0
			COMMIT TRANSACTION
					
		RETURN @RESULT
	END TRY
	BEGIN CATCH /***********************************************/
		/* ----- DECLARE CATCH ---- */
		DECLARE @errorMessage	nvarchar(1000)	= ERROR_MESSAGE();
		DECLARE @errorSeverity	int				= ERROR_SEVERITY();
		DECLARE @errorState		int				= ERROR_STATE();
		DECLARE @procName		nvarchar(128)	= OBJECT_NAME(@@PROCID);
        
        /* ----- TRANSACTION ------ */
        IF @tranCounter = 0  
		BEGIN
			ROLLBACK TRANSACTION;
			EXEC [SYS_ErrorLog_SP_C] @procName, @msgPrint_yn, @msgSave_yn;
			RETURN -@errorState;
		END
        ELSE
        BEGIN
            IF XACT_STATE() <> -1  
                ROLLBACK TRANSACTION  ProcedureSave;
			SET @errorMessage = @procName +' >> '+ @errorMessage;
			RAISERROR(@errorMessage, @errorSeverity, @errorState);
		END
	END CATCH	
	SET NOCOUNT OFF	
END

-- ##############################################################
-- #### TEST AREA
/*
select * from PRT_M_Base

DECLARE @rst	int
EXEC @rst = [PRT_Info_SP_C] 1

exec [PRT_Info_SP_C] 1
exec [PRT_Info_SP_C] 2	-- prd_id 없음 오류

exec [PRT_Info_SP_C] 1, @contents='111'

select * from PRT_Info
	
	
	
*/



GO
