USE [jns9778]
GO
/****** Object:  Table [dbo].[tests]    Script Date: 2021-11-25 오후 3:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tests](
	[idx] [int] IDENTITY(1,1) NOT NULL,
	[v] [nchar](30) NULL
) ON [PRIMARY]
GO
