USE [jns9778]
GO
/****** Object:  StoredProcedure [dbo].[ORD_SP_U]    Script Date: 2021-11-25 오후 3:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- ============================================================== 
-- Author		: 김영호
-- Create date	: 2019-12-20
-- Update date	: 
-- Description	: 
/*

*/
-- ==============================================================
CREATE PROC [dbo].[ORD_SP_U]

	@idx			int
	
AS

BEGIN

	SELECT 0

END

-- ##############################################################
-- #### TEST AREA
/*
	exec STO_Base_SP_C 99	
	
	select 0
	
*/




GO
