USE [jns9778]
GO
/****** Object:  Table [dbo].[ORD_Cart]    Script Date: 2021-11-25 오후 3:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORD_Cart](
	[crt_idx] [int] IDENTITY(1,1) NOT NULL,
	[client_id] [varchar](20) NULL,
	[meb_idx] [int] NULL,
 CONSTRAINT [PK__ORD_Cart__A88E42C52665ABE1] PRIMARY KEY CLUSTERED 
(
	[crt_idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
